<!DOCTYPE html>
<html>
    {% include header.ext %}
    <body class="subpage subpage-get-started" style="padding-top: 60px;">
      {% include navigation/top-menu.ext %}
      <section class="padding-extra padding-top-double">
        <div class="container">
          <div class="row">
            {% include navigation/side-menu.ext %}
            <div class="col-sm-8 col-sm-offset-4">
              <div class="docs-contents well">
                {{ content }}
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include footer.ext %}
    </body>
</html>
